.loading {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
  justify-content: center;
}

.bt-button {
    color: #fff;
    background-color: #007A75;
}

.bt-currency {
    color: #007A75;
}

.btn-primary {
    background-color: #007A75;
}